* {
  margin: 0;
  padding: 0;
}


.dropdown:hover .dropdown-menu-dark {
  display: block;
  max-width: 0px;
  padding: 0;
  margin: 0;
}

.nav-item-text {
  display: flex;
  align-items: baseline;
  padding: 0;
  margin: 0;
}

@media (max-width: 576px) {
  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    width: 100%;
  }

  .nav-link {
    text-align: center;
    padding: 10px;
  }

  .dropdown-menu-dark {
    position: static;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .dropdown-item {
    display: block;
    width: 100%;
    padding: 8px;
  }
}
